$card-border-width: 0;

@import "~bootstrap/scss/bootstrap";
@import "~@mdi/font/css/materialdesignicons.min.css";

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#sidebar {
    position: absolute;
    min-height: 100%;

    div:first-of-type {
        width: 280px;
    }
}

#content {
    margin-left: 280px;
}
